////////////////////// Colors ///////////////////////////
$primary-color           : #46415A;
$secondary-color         : #e00;
$aqua                    : #30E691;
$greyish                 : lighten(#888, 20%);
$ored                    : lighten(#e00, 20%);
$purpbleu                : lighten(blue, 20%);
$liteaqua                : #00FFFF;
$purpal                  : #3D47A3;
$screen                  : #C5C1C0;
$steel                   : #0A1612;
$denim                   : #1A2930;
$navvy                   : #14358f;
$marigold                : #F7CE2E;
$rust                    : #B56357;
$mint                    : #B4DBC0;
$slate                   : #EAE3EA;
$seafoam                 : #A7B3A5;
$brown                   : #3F1A0E;
$cream                   : #FCF1C6;
$sky                     : #1E90FF;
$white                   : #FFFFFF;

/////////////////////// Fonts, Etc. /////////////////////////
$main-font-size          : 16px;
$font-primary            : Cutive, serif;
$font-secondary          : Potano Sans, serif;

$page-width              : 960px;
$default-border-radius   : 10px;
