@import "../../styles/variables";

div.thread-list {
  display: table-cell;
  box-shadow: 0 0 3px $slate;
  -webkit-box-shadow: 0 0 3px $slate;
  -moz-box-shadow: 0 0 3px $slate;

  div.thread-list-header {
    background-color: $aqua;
    padding: 10px 15px;
    box-shadow: 0 0 3px $slate;
    -webkit-box-shadow: 0 0 3px $slate;
    -moz-box-shadow: 0 0 3px $slate;
  }

  div.thread-title {
    text-align: left;
    padding: 10px 15px;
    box-shadow: 0 0 3px $slate;
    -webkit-box-shadow: 0 0 3px $slate;
    -moz-box-shadow: 0 0 3px $slate;
  }
}
